<% if user_signed_in? %>
  Logged in as <strong><%= current_user.email %></strong>.
  <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
<% else %>
  <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
  <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
<% end %>
<h1>WELCOME TO Shoe Store</h1>
<h3><%= @category.name%></h3>
<br/>
<h3>Shoe List</h3>
<table>
  <tr>
    <th>Name</th>
    <th>Image</th>
    <th>Price</th>
    <th>View</th>
  </tr>
  <% @shoe.each do |s| if s.category.name==@category.name%>
    <tr>
      <td><%= link_to s.name , shoe_path(s)  %></td>
      <td><%= image_tag s.image_url.to_s %></td>
      <td><%= s.price %></td>
      <td><%=  %></td>
    </tr>
    <% end %>
  <% end %>
</table>
<%= link_to 'Trang chu' , users_path %>

  